<mat-toolbar  class="fff">
  <span class="one">
    <a routerLink="" mat-button>
     <mat-icon>local_movies</mat-icon> Angular Movies
    </a>
  </span>
  <div>
    <a mat-button routerLink="movies/filter">
      <mat-icon>search</mat-icon> search movies
    </a>
  </div>
  <div class="two">
    <a mat-button routerLink="genres">
      Genres
    </a>
  </div>

  <div class="three">
    <a mat-button routerLink="actors">
      Actors
    </a>
  </div>

  <div class="four">
    <a mat-button routerLink="movietheaters">
      Movie Theaters
    </a>
  </div>

  <div class="five">
    <a mat-button routerLink="movies/create">
      Create Movie
    </a>
  </div>


</mat-toolbar>
